.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  width: 30%;
}
@media (max-width:600px) {
  .card{
    width: 100%;
    
  }
}


@media (max-width:940px) {
  .card{
    width: 100%;
  }
}

.card h3 {
  font-family: 'Dancing Script' ;
  font-size: 30px; 
  font-weight: 700;
}
.img{
  width: 300px;
  height: 250px;
  border-radius: 5px;
  cursor: pointer;
}




